html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #f8f8f8;
    /* background-color: Black; */
    margin: 0;
}
/* html {
    overflow: scroll;
} */

.header {
    z-index: 1;
    background-color: #f8f8f8;
    position: fixed;
    color: #000;
    width: 100%;
    height: 10%;
    top: 0;
    text-decoration: none;
}



.logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
    color: #000;
    position: fixed;
    left: 5%;
    top: 3%;
    z-index: 1;
}

nav {
    position: fixed;
    height: 4%;
    top: 4%;
    width: 100%;
    margin-right:0;
  }
  
  ul {
    list-style-type: none;
    height: 100%;
    width: 40%;
    padding: 0;
    margin-right: 5%;
    margin-left: auto;
  }
  
  li {
    float: right;
    text-align: center;
    top: 10%;
    height: 50%;
    padding-left: 5%;
    padding-right: 5%;
  }


  .navi {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 18px;
    text-decoration: none;
    color: #010101;
  }

#about {
    color: #024bd4;
    font-weight: 600;
}

.container {
    position: relative;
    font-family: "Montserrat", sans-serif;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 7%;
    top: 120px;
    /* margin-top: 7%; */
    width: 90%;
    height: 38%;
    /* height: 45%; */
}

.img_row {
    /* height: 53%; */
    overflow: hidden;
}

.text_row {
    overflow: hidden;
    /* display: block; */
    margin-top: 0;
    height: 40px;
}

.intro_row {
    overflow: hidden;
    height: auto;
    /* margin-top: 1%; */


    /* display: inline; */
}

.img_name {
    display: block;
    /* width: 50%; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.linkedin {
    max-width: 10%;
    height: 0.1%;
    display: inline;
    vertical-align: middle;
}

.intro {
    display: inline;
    /* margin-left: auto;
    margin-right: auto;
    white-space: nowrap; */
    vertical-align: middle;
}

.nidayede {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content_advisor {
    font-family: "Montserrat", sans-serif;
    display: block;
    /* top: 10%; */
    /* margin-top: 18%; */
    /* margin-top: 100px; */
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    /* align-content: center; */
}

h1 {
    font-weight: 700;
    font-size: 36px;
    color: #000;
    text-align: center;
    margin: 0;
}

h2 {
    font-weight: 700;
    font-size: 22px;
    color: #000;
    position: relative;
    text-align: center;
}

p {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    position: relative;
    top: 50%;
    /* align-content: center; */
    /* width: 200px; */
    /* align-items: center; */
}

.column {
    float: left;
    width: 18%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
}

img {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#img_advisor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 19%;
}

.names {
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 90%;
    margin-left: auto;
    margin-right: auto; */
    text-align: center;
}

.column_advisor {
    /* float: left; */
    width: 45%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
}


#name_advisor {
    position: relative;
    top: 50%;
    text-align: center;
}
