.as-app {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    /* --yellow: #FFD447; */
    /* --black: #212121; */
}
div {
    display: block;
}
* {
    box-sizing: border-box;
}


body.as-app-body {
    background: #042762;
    text-rendering: geometricPrecision;
}
body.as-app-body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
body {
    background-color: #042762;
    display: block;
    margin: 0px;
}

h3{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 5px;

}

.header {
    /* position: fixed;
    color: white;
    text-decoration: none; */
    z-index: 1;
    background-color: #042762;
    position: fixed;
    color: white;
    width: 100%;
    height: 10%;
    top: 0;
    text-decoration: none;
}

.logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
    color: white;
    position: fixed;
    left: 5%;
    top: 3%;
    z-index: 1;
}

nav {
    position: fixed;
    height: 4%;
    width: 100%;
    margin-right: 1%;
    top: 3%;
}

ul {
    list-style-type: none;
    height: 100%;
    width: 40%;
    padding: 0;
    margin-right: 0;
    margin-left: auto;
    text-align: center;
}

li {
    float: left;
    top: 1%;
    height: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.navi {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #A9A9A9;
}
/* 
#methods {
    color: white;
} */

#funfacts {
    color: white;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

.section-lightbox {
    overflow: auto;
    position: absolute;
    top: 80px;
    /* width: 60%; */
    right: 0;
    bottom: 0;
    left: 0;
    background: #042762;
    z-index: 400;
    display: none;
}

.section-lightbox.is-active {
    display: block;
}

.heading{
    font-family: "Montserrat", sans-serif;
    position: relative;
    top: 5%;
    left: 5%;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    display: block;
    /* font-size: 1.5em; */
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left, justify;
}

ol {
    display: block;
    weight: 80%;
    list-style-type: decimal;
    margin-block-start: 5em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    line-height: 500%;
}

iframe {
    margin-left: -6%;
}

.section-content {
    margin-top: 0;
    margin-left: 0;
    width: 40%;
    padding: 30px 30px;
}
.section-content {
    font-family: "Montserrat", sans-serif;

    position: relative;
    top: 100px;
    left: 10%;
    color: white;
}

.section-content ol {
    list-style-type: decimal;
    margin-left: 24px;
}
.section-content li {
    display: list-item;
    list-style-position: outside;
    padding-bottom: 40px;
    padding-left: 14px;
}
.section-content h1 {
    position: relative;
    font-weight: 700;
    font-size: 36px;
    color: white;
}

.section-content h2, .section-content ol {
    color: #fff;
    font: 300 normal 24px/32px "Montserrat", sans-serif;
}
.section-content h2 {
    display: block;
    /* font-size: 10px; */
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.section-content p {
    color: #fff;
    font: 300 normal 16px/24px "Montserrat", sans-serif;
    padding-top: 10px;
}

.section-content p a {
    color: #ffd447;
    text-decoration: none;
}

figcaption{
    margin-top: -10px;
    padding:-10px;
    font-size: 10px;

}