html, body {
  height: 100%;
  width: 100%;
}
body {
    background: #f8f8f8;
    color: #101010;
    font: 500 20px/26px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
  }



  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }


  h1 {
    font-size: 22px;
    margin: 10;
    font-weight: 400;
    line-height: 20px;
    padding: 20px 2px;
  }

  a {
    color: #101010;
    text-decoration: none;
  }

  a:hover {
    color: #101010;
  }

  .sidebar {
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0;
    right: 0;
    overflow: hidden;
    opacity: 0;
    /* border-right: 1px solid rgba(0, 0, 0, 0.25); */
  }

  .as-sidebar {
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0;
    right: 0;
    overflow: hidden;
    /* border-right: 1px solid rgba(0, 0, 0, 0.25); */
  }



  .pad2 {
    width: 250px;
    font-family: "Montserrat", sans-serif;
  }

  .map {
    /* border-left: 1px solid #fff; */
    position: absolute;
    /* left: 20%; */
    /* width: 66.6666%; */
    top: 0;
    bottom: 0;
    left:0;
    width: 100%
  }
  .heading {
    /* background: #f8f8f8; */
    border-bottom: 1px solid #f8f8f8;
    height: 60px;
    line-height: 60px;
    padding: 10 10px;
  }


  h2,
  h3 {
    margin-left: 10px;
    margin-right:10px;
    font-size: 1.2em;
  }


  p {
    font-size: 0.85em;
    margin: 10px;
    text-align: left;
  }

  h4 {
      font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    /* color: #101010; */
    line-height: 9px;
    background-color: #f8f8f8;
  }

text {
  font-family: "Montserrat", sans-serif;
  color: #676767;
}
/*************************** Atlas ***************************/
.as-container{
  float: left;
    width: 100%;

}
.esm-legend {
    height: 6px;
    background: linear-gradient(90deg,#d7191c 0%,#fdae61 25%,#ffe405 50%,
    #abdda4 75%,
    #2b83ba 100%);

}
.esm-status{
  margin-top: 0px;
  height:9px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.widgets-item {
    position: relative;
    right:0px;
    list-style-type: none;
    color: #101010;
    width: 235px;
    border-radius: 5px;
    /* box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1); */
    background-color: rgba(255,255,255,0.9);

}

.as-font--medium {
    font-weight: 500;
}

.as-body {
  color: #101010;
    margin: 0px 2px 4px;
    font: var(--as--font--body);
}


.legend {
    position: absolute;
    top: 40px;
    right: 15px;
    /* width: 180px; */
    background-color: #f8f8f8;
    transition: all .3s cubic-bezier(.4,.01,.165,.99);
    background: var(--black);
    box-shadow:0px 2px 2px 0px rgba(0,0,0,0.05);
    pointer-events: all;
    font-family: "Montserrat", sans-serif;

}

.figure {
  position: absolute;
  top: 120px;
  right: 0px;
  /* width: 180px; */
  background-color: #f8f8f8;
  transition: all .3s cubic-bezier(.4,.01,.165,.99);
  background: var(--black);
  /* box-shadow: 0 0 24px #f8f8f8; */
  pointer-events: all;
  font-family: "Montserrat", sans-serif;

}


.legend-panel {
    width: 235px;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.labels-legend {
    display: block;
    font-size: 10px;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}

.legend-inner {
    border: none;
    padding: 12px;
    background-color: #f8f8f8;
}

.as-caption {
    /* margin: 0; */
    font: var(--as--font--caption);
}

div {
    display: block;
}



/*************************** Atlas ***************************/


 /*********popup**********/
 .mapboxgl-popup-close-button {
    display: none;

  }

  .mapboxgl-popup-content {
    /* font: 400 12px/22px "Montserrat", sans-serif; */
    padding: 0;
    width: 220px;
    /* height: 190px; */
    background: #f8f8f8;
    display: "inline-block";
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);


  }

  .mapboxgl-popup-content-wrapper {
    display: "inline-block";
    padding: 1%;
    background:#f8f8f8;
    color: #616161;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .mapboxgl-popup-content h2 {
    display: block;
    padding: 0px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    color: #101010;
    font-size:14px;

    /* color: #fff; */
  }

  .mapboxgl-popup-content span {
    display: block;
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /* color: #fff; */
  }

  .mapboxgl-popup-content h3 {
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    padding: 0px;
    border-radius: 8px;
    font-weight: 100;
    margin-bottom: 5px;
    padding-bottom: 0px;
    margin-top: 5px;
    color: #101010;
  }
  .mapboxgl-popup-content h5 {
 
    color: #101010;
    font-family: "Montserrat",sans-serif;
    font-size:10px;
    font-weight: 300;
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .mapboxgl-popup-content h4 {
    font-family: "Montserrat",sans-serif;
    font-size: 28px;
    line-height: 30px;
    display: flex;
    padding: 0px;
    font-weight: 200;
    margin-top: -15px;
    margin-bottom: 5px;
    /* margin-left: 0px;
    margin-right: 0px; */

  }



  .mapboxgl-popup-content div {
    /* padding: 10px; */
    /* background:#f8f8f8; */
    display: "inline-block";
  }

  .mapboxgl-container .leaflet-marker-icon {
    cursor: pointer;
    color: #f8f8f8;
    background-color: #f8f8f8;
  }

  .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
    background-color: #f8f8f8;
  }

  .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #f8f8f8;
  }


.popup-status {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    left: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.popup-figure h2 {
    font: 24px "Montserrat", sans-serif;
    color: #616161;
}
.popup-figure h3 {
    /* font: 12px/16px "Montserrat"; */
    font-size: 14px;
    color: #616161;
}


.popup-name h3 {
    font: 12px/16px "Montserrat",sans-serif;
    font-size: 14px;
    color: #1e1e1f;
}
  .popup-name h2 {
    font: 24px "Montserrat", sans-serif;
    color: #1e1e1f;

}

* {
    box-sizing: border-box;
    display: "inline-block";
}

.bar {
    width: 100%;
    height: 6px;
    background: linear-gradient(90deg,#c22e01 0,#c22e01 20%,#00939c 80%,#00939c 100%);
}

.bar2 {
  border-radius: 25px;
}

#rcorners1 {
  border-radius: 25px;
}

.axis {
  font: 10px "Montserrat";
  color: #9e9e9e; 
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}
.axis text {
  color: #9e9e9e; 
}

.x.axis path {
  display: none;
}

section {
  display: block;
  position: relative;
}
/* ****sidebar elements**** */

/* dropdownlayer */
.as-sidebar {
    --as-sidebar--background-color: var(--black);
    transition: width .3s cubic-bezier(.4,.01,.165,.99);
}
.as-sidebar-right {
    position: absolute;
    width: 240px;
    height: 100%;
    overflow: hidden;
    /* border-right: 1px solid rgba(0, 0, 0, 0.25); */
  }


* {
    box-sizing: border-box;
}

.as-box {
    display: block;
    /* width: 100%; */
    margin-left: auto;
    margin-right: 0;
}

#search-container {
    height: 10%;
}

.layer {
    display: block;
    margin-right: 0px;
    margin-top: 32px;
    /* weight:100%; */
}

#layer {
    display: block;
    margin-right: 0px;
    /* margin-top: 15px; */
    margin-left: auto;
    font-size: medium;
    /* height:100%; */
}

.as-dropdown {
  display: inline-block;
  background-color: #f8f8f8;
  left:100px;
  border-color: #fff;
}

.dropdown-content {
  display: none;
  position: relative;
  font: 12px "Montserrat", sans-serif;
  color:#f8f8f8;
  background-color: #f8f8f8;
  min-width: 160px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
  padding: 1px 16px;
  z-index: 1;
  border-color: #fff;
  font-size: medium;

}

select {
  position: relative;
  top: 10px;
  right:5px;
  color:#000;
  background-color: #f8f8f8;
  /* border-radius: 0; */
  width: 235px;
  height: 35px;
  box-shadow:0px 2px 2px 0px rgba(0,0,0,0.05);
  /* padding: 2px 16px; */
  z-index: 1;

  margin-top:150px;
  margin-right:0px;
  border-color: #fff;
  border-radius:5px;
  padding: 5px;

  font-family: "Montserrat", sans-serif;

}


  section {
    display: block;
    padding: 10px;
  }

.legend-triangle{
  display: inline-block;
  /* padding-top: 7px; */
  /* margin-left: auto;
  margin-top: auto; */
  width: 100%;
  font-size: 9px;

}

#legend-right {
  position: absolute;
  right: 15px;
  text-align: right;
  margin-left: auto;
  /* margin-right: 15px; */
  
}

#legend-left {
  position: relative;
text-align: left;
/* margin-left: 110px; */
margin-left: 0px;

}


.widgets-hint {
  position: relative;
  top: 147px;
  right:5px;
  list-style-type: none;
  color: #101010;
  width: 235px;
  border-radius: 5px;
  box-shadow:0px 2px 2px 0px rgba(0,0,0,0.05);
  background-color: rgba(255,255,255,0.9);
  font-size: small;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}