html,
body {
  height: 100%;
}

body {
  background-color: Black;
  margin: 0;
  padding: 0;
}

.header {
    z-index: 1;
    background-color: #f8f8f8;
    position: fixed;
    color: #303030;
    width: 100%;
    height: 10%;
    top: 0;
    text-decoration: none;
  }
  

.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-decoration: none;
  color: #303030;
  position: fixed;
  left: 5%;
  top: 3%;
  z-index: 1;
}

nav {
  position: fixed;
  height: 4%;
  top: 4%;
  width: 100%;
  margin-right:0;
}

ul {
  list-style-type: none;
  height: 100%;
  width: 40%;
  padding: 0;
  margin-right: 5%;
  margin-left: auto;
}

li {
  float: right;
  text-align: center;
  top: 1%;
  height: 50%;
  padding-left: 5%;
  padding-right: 5%;
}

.navi {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 18px;
  text-decoration: none;
  color: #010101;
}

#map {
  color: #024bd4;
  font-weight: 600;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 25%;
  top: 20%;
  /* right:25%; */
  /* width: 50%;  */
  /* Full width */
  text-align: center;
  /* left: 25%; */
  /* right: auto; */
  height: 480px;
  width: 740px;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #f8f8f8; /* Fallback color */
  box-shadow: 0 0 24px #f8f8f8;
  border-radius: 12px;
  /* display: block; */
}

/* Modal Content/Box */
.modal-content {
  font-family: "Montserrat", sans-serif;
  display: none; /* Hidden by default */
  position: absolute;
  left: 15px;
  right: auto;
  margin: 5px; /* 15% from the top and centered */
  padding: 10px;
  top: 0%;
  bottom: 0%;
  width: 90%;

  line-height: 150%;
  border-radius: 12px;
  box-shadow: 0 0 24px #f8f8f8;
  /* display: inline-block; */
}

#modal_p {
  margin-top: -8px;
  color: white;
}

.popup_img {
  display: block;
  align-content: center;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* max-width: 100%; */
  /* width: 100%; */
  height: 220px;
}

.img2 {
  max-width: 80%;
}

h2 {
  color: white;
}

#outer {
  display: block;
  position: absolute;
  bottom: 0%;
  /* top: 80%; */
  height: 10%;
  width: 100%;
  text-align: center;
}

.popup_btn {
  display: inline-block;
  /* position:absolute; */
  background-color: #c22e01;
  /* width: %; */
  border: none;
  color: white;
  font-size: 1em;
  /* margin-top: 2%; */
  /* margin-bottom: 20px; */
  border-radius: 3px;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 3px;

  /* bottom: 30px; */
  /* margin-left: 84%; */
}

.btn_left {
}

.map_iframe {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 90%;
  /* top: 65px; */
  left: 0;
  right: 0;
  bottom: 0px;
  border: 0;
  padding: 0;
}

.control_panel {
  background: #303030;
  opacity: 0.6;
  position: fixed;
  left: 80%;
  width: 20%;
  height: 100%;
}
